proyecto-01/.idea/
proyecto-02/.idea/
proyecto-02/.settings/
proyecto-02/target/
proyecto-02/.classpath
proyecto-02/.factorypath
proyecto-02/.project
proyecto-07/.idea/
proyecto-08/.idea/
proyecto-09/.idea/
